.footerContainer {
  background-color: #f8ecec;
  min-height: 200px;
}
.footerMain {
  display: flex;
  justify-content: space-around;
}
.companyWrap {
  display: flex;
  align-items: center;
}
.companyLogo {
  height: 160px;
}
.socialMedia {
  display: flex;
  justify-content: center;
}

@media (max-width: 650px) {
  .info {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  .info > svg {
    color: #242526;
  }
  .footerMain {
    flex-direction: column;
    align-items: center;
  }
  .socialMedia > img {
    height: 32px !important;
    margin: 10px 5px;
  }
  .contactText {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
  }
  .contactUs {
    width: 90%;
    box-shadow: 0 0 5px 4px #dfa0db66;
    padding: 10px;
    background: #f8ecec;
    margin-bottom: 1rem;
    color: #333;
  }
  .info > span {
    margin-left: 5px;
    font-size: 18px;
    font-weight: 500;
  }

}
