.EventListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 10px 40px 10px;
  justify-content: space-around;
}
.eventListHeading {
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
  color: var(--primary-text-color);
}
@media (min-width: 650px) {
  .EventListContainer {
    margin: 30 30px 30px 30px;
  }
}
