.descriptionContainer {
  margin: 40px 50px;
  text-align: center;
}
.descriptionHeading {
  margin-bottom: 1rem;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 700;
  color: #e07c24;
  font-family: sans-serif;
  border-radius: 5px;
}
.imageWrap {
  width: 100% !important;
  height: 500px;
}
.descriptionPrice {
  margin-top: 2rem;
  padding: 10px 0;
  font-style: italic;
  border: 3px solid #ff6666;
}
.descriptionView {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 500px;
}
.descriptionView div:nth-child(1) {
  grid-row: 1/2;
  grid-column: 1;
}
.descriptionView div:nth-child(3) {
  grid-row: 2;
  grid-column: 2;
}
/* .descriptionView > div {
  width: 50%;
} */
.description {
  margin-top: 16px;
  margin-bottom: 16px;
  font-style: italic;
  font-weight: 600;
  color: #edc126;
  letter-spacing: 0.5px;
}
.descriptionImage {
  max-width: 95%;
  max-height: 90%;
}
.supriseInclusion {
  text-align: left;
}
.inclusion {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ff6666;
}

@media (max-width: 1000px) {
  .descriptionContainer {
    margin: 10px 20px;
  }
  .descriptionView > div {
    width: 100%;
  }
  .descriptionView {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 991px) {
  .descriptionView {
    display: flex;
  }
  .descriptionImage {
    max-width: 100%;
    border-radius: 5px;
  }
  .inclusionMain {
    margin-left: 10%;
  }
  .supriseInclusion {
    text-align: left;
    display: flex;
    margin: 5px 0;
    font-size: 0.9rem;
  }
  .supriseInclusion > span:nth-child(1) {
    margin-right: 5px;
  }
  .descriptionHeading {
    margin-bottom: 0;
  }
  .description {
    margin-top: 0;
  }
  .imageWrap {
    height: fit-content;
  }
}
