.cardContainer {
  width: 350px;
  min-height: 500px;
  background-color: antiquewhite;
  border-radius: 10px;
  margin: 10px 10px 20px 10px;
}
.imageWrap{
    height: 300px;
}
.imageWrap > img{
    width: 100%;
    height:100%;
    border-radius: 10px 10px 0 0;
}
.heading{
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #e07c2e;
    margin: 10px 0;
    text-align: center;
    letter-spacing: 1px;
}
.subText{
    font-family: sans-serif;
    font-size: 14px;
    color:#333333;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    min-height: 50px;
    letter-spacing: 0.5px;
}
.button{
    display: flex;
    justify-content: center;
    
}
.button > button{
    padding: 10px;
    background-color: #e07c2e;
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-color: #e07c2e;
    border-radius: 5px;
}

@media (max-width:650px){
    .cardContainer{
        width: 95%;
    }
}

